/* ----- CSS RESET ----- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    /* border: 1px dotted red; */
}

/* ----- CSS VARIABLES ----- */

:root {
    /* Color Palette */
    --color-white: #ffffff;
    --color-light-green: #ecfdf5d9;
    --color-dark-green: #10b981;
    --color-darker-green: #0c8a6e;
    --color-dark-blue: #273549;
    --color-darker-blue: #1f2937cc;
    --color-light-purple: #f8f0ffcc;
    --color-medium-purple: #e0d0ff;
    --color-dark-purple: #8a2be2;
    --color-light-gray: #d5d4d8;
    --color-gray: #6b7280;

    /* Theme Colors */
    --background-color: var(--color-white);
    --primary-background: var(--color-light-green);
    --primary-text-color: var(--color-dark-blue);
    --secondary-text-color: var(--color-gray);
    --accent-color: var(--color-dark-green);

    --color-light-background: #f8f9fa;
    --color-dark-background: #2b2d42;
    --header-footer-background: #ecececbf;
    --header-footer-dark-background: #2f2f2f66;
    --header-footer-text: #333333;
    --header-footer-dark-text: #ffffff;

    /* Component-specific Colors */
    --button-background: var(--color-dark-green);
    --button-background-hover: var(--color-darker-green);
    --button-text: var(--color-white);
    --password-background: var(--color-dark-blue);
    --password-text: #5def92;
    --options-background: var(--color-light-purple);
    --options-text: #4a0e78;
    --slider-background: var(--color-medium-purple);
    --slider-thumb: var(--color-dark-purple);
    --checkbox-border: var(--color-medium-purple);
    --checkbox-background: var(--color-light-purple);
    --checkbox-background-checked: var(--color-dark-purple);
    --divider-color: var(--color-light-gray);
    --divider-color-dark: #2f3e53;
    --checkbox-focus-shadow-color: rgba(138, 43, 226, 0.25);
    --toggle-theme-background: var(--color-darker-blue);

    /* Typography */
    --font-primary: "Karla", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --font-header: "Kavoon", sans-serif;
    --font-size-xs: 0.9rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.75rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    /* Border Radius */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 10px;

    /* Shadows */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.2);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.2);
    --shadow-md-light: 0 4px 6px rgba(255, 255, 255, 0.5);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.2);
    --shadow-lg-light: 0 8px 16px rgba(255, 255, 255, 0.5);
    --shadow-xl: 0 12px 24px rgba(0, 0, 0, 0.2);

    --overlay-color: rgba(0, 0, 0, 0.15);
    --overlay-color-dark: rgba(0, 0, 0, 0.5);
}

/* ----- DARK THEME ----- */

.dark-theme {
    --background-color: var(--color-light-gray);
    --primary-background: var(--color-darker-blue);
    --primary-text-color: var(--color-white);
    --secondary-text-color: var(--color-light-gray);
    --password-background: var(--color-dark-blue);
    --divider-color: var(--divider-color-dark);
    --header-footer-background: var(--header-footer-dark-background);
    --header-footer-text: var(--header-footer-dark-text);
    --overlay-color: var(--overlay-color-dark);
    --toggle-theme-background: var(--color-light-green);
}

/* ----- GLOBAL STYLES ----- */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    font-family: var(--font-primary);
    background-color: var(--background-color);
    background-image: url("../assets/background-light.png");
    background-size: cover;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color);
    z-index: -1;
}

/* ----- TYPOGRAPHY ----- */

.header,
.footer {
    font-family: var(--font-header);
}

.header__title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extra-bold);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
}

.header__subtitle {
    font-size: var(--font-size-md);
    letter-spacing: 1px;
}

.toggle-theme {
    font-size: var(--font-size-lg);
}

.app__title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-extra-bold);
}

.app__subtitle,
.app__generate-btn {
    font-size: var(--font-size-lg);
}

.app__title,
.app__subtitle {
    text-align: left;
}

.app__subtitle,
.app__password {
    font-family: var(--font-secondary);
}

.app__generate-btn,
.app__slider-label,
.app__character-option-label {
    font-weight: var(--font-weight-medium);
}

.app__customization-options,
.app__output-field {
    font-size: var(--font-size-md);
}

.app__length-value {
    font-weight: bold;
}

.app__password {
    font-size: var(--font-size-md);
}

.app__password.long {
    font-size: var(--font-size-xs);
}

.app__copy-btn-icon {
    font-size: var(--font-size-xl);
}

.footer {
    font-size: var(--font-size-sm);
    letter-spacing: 1px;
}

/* ----- UTILITY CLASSES ----- */

.transition {
    transition: all 0.3s ease;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* ----- BUTTONS ----- */

.app__generate-btn,
.app__copy-btn {
    border: none;
    cursor: pointer;
}

.app__generate-btn:hover,
.app__copy-btn:hover,
.app__character-option-input:hover,
.toggle-theme:hover {
    transform: scale(1.025);
}

.app__generate-btn:active,
.app__copy-btn:active,
.app__character-option-input:active,
.toggle-theme:active {
    transform: scale(0.975);
}

.app__generate-btn {
    color: var(--button-text);
    background-color: var(--button-background);
    padding: 0.5625em 1em;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-md);
}

.app__generate-btn:hover {
    background-color: var(--button-background-hover);
}

.app__generate-btn:focus {
    outline: 2px solid var(--color-dark-purple);
    outline-offset: 3px;
}

.app__copy-btn {
    background: none;
}

.app__copy-btn:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 5px;
    border-radius: var(--border-radius-sm);
}

.app__copy-btn-icon {
    background-color: var(--password-background);
    color: var(--options-background);
}

.app__copy-btn-icon:hover,
.app__copy-btn-icon.copied {
    color: var(--accent-color);
}

.toggle-theme {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    width: 1.75em;
    height: 1.75em;
    background-color: var(--toggle-theme-background);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--shadow-md);
}

.toggle-theme:hover {
    box-shadow: var(--shadow-lg);
}

body.dark-theme .toggle-theme {
    box-shadow: var(--shadow-md-light);
}

body.dark-theme .toggle-theme:hover {
    box-shadow: var(--shadow-lg-light);
}

.toggle-theme:focus,
.toggle-theme:active,
.body.dark-theme .toggle-theme:focus,
.body.dark-theme .toggle-theme:active {
    outline: 2px solid var(--accent-color);
    outline-offset: 5px;
}

.toggle-theme::before {
    content: "🌙";
}

.dark-theme .toggle-theme::before {
    content: "☀️";
}

/* ----- LAYOUT ----- */

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 8px;
    z-index: 100;
    background: var(--color-dark-blue);
    color: var(--color-white);
    text-decoration: none;
    border-radius: var(--border-radius-sm);
}

.skip-link:focus {
    top: 0;
}

.header,
.footer {
    background-color: var(--header-footer-background);
    color: var(--header-footer-text);
}

.header {
    padding: 2em 0;
}

.header__subtitle {
    margin-top: 0.5em;
}

.footer {
    padding: 1.75em 0;
}

/* ----- MAIN ----- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    position: relative;
    padding: 5em;
    background-color: var(--primary-background);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-xl);
}

.app__title {
    color: var(--primary-text-color);
}

.app__title-highlight {
    display: block;
    color: var(--accent-color);
}

.app__subtitle {
    color: var(--secondary-text-color);
}

/* PASSWORD OPTIONS */

.app__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}

.app__customization-options {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    background-color: var(--options-background);
    padding: 1.25em;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
}

.app__slider-container {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.app__character-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.app__slider-label {
    color: var(--options-text);
}

.app__slider-input:hover {
    transition: all 0.3s ease;
    scale: 1.05;
}

.app__slider-input {
    -webkit-appearance: none;
    height: 6px;
    background: var(--slider-background);
    opacity: 0.7;
    border-radius: 3px;
}

.app__slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.125em;
    height: 1.125em;
    background: var(--slider-thumb);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.app__length-value {
    color: var(--slider-thumb);
}

.app__character-option-label {
    color: var(--options-text);
}

.app__character-option-input {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid var(--checkbox-border);
    border-radius: var(--border-radius-sm);
    outline: none;
    cursor: pointer;
    background-color: var(--checkbox-background);
}

.app__character-option-input:checked {
    background-color: var(--checkbox-background-checked);
    border-color: var(--checkbox-background-checked);
}

.app__slider-input:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 5px;
    border-radius: var(--border-radius-sm);
}

.app__character-option-input:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 3px;
    border-radius: var(--border-radius-sm);
}

/* BORDER */

.app__divider {
    border: 1px solid var(--divider-color);
}

/* PASSWORD DISPLAY  */

.app__output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.app__output-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.7em;
    background-color: var(--password-background);
    width: 15em;
    height: 2.75em;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-md);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.app__password {
    color: var(--password-text);
    margin-right: 0.5em;
    line-height: 1.5;
    overflow: hidden;
}

.app__password:focus {
    outline: 2px solid var(--color-white);
    outline-offset: 3px;
    border-radius: var(--border-radius-sm);
}
